body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  display: block;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(47, 47, 47, 0.9);
}

.full-width {
  display: block;
  width: 100%;
}
.modal-content {
  max-width: 35vw;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #ffffff;
  border-radius: 3px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.bottom-margin {
  margin-bottom: 10px;
  margin-top: 10px;
}

.comments-scroll {
  max-height: 70vh;
  overflow: scroll;
}
